<!DOCTYPE html>
<html lang="en">
<body>

<h2><%= @store.name %></h2>
<p><%= link_to @store.url, @store.url, target: '_blank' %></p>

<h2>Designers:</h2>
<% @designers.each do |designer| %>
<h3> <%= designer.name %> </h3>
<% end %>

  <ul class="list-inline">
    <li><%= link_to "Home", root_path %></li> |
    <li><%= link_to "Designer Search", designers_path %></li> |
    <li><%= link_to "Store Search", stores_path %></li>
  </ul>

</body>
</html>
