<!DOCTYPE html>
<html lang="en">
<body>

<h1>Store Information:</h1>
<% @stores_yelp.each do |store| %>
<h3>Store Name: <%= store["name"] %> </h3>
<p>Yelp Star Rating: <%= store["rating"] %></p>
<p>Phone Number: <%= store["display_phone"] %></p>
<p>Yelp: <%= link_to store["url"], store["url"], target: '_blank' %></p>
<% end %>

  <ul class="list-inline">
    <li><%= link_to "Home", root_path %></li> |
    <li><%= link_to "Designer Search", designers_path %></li> |
    <li><%= link_to "Store Search", stores_path %></li>
  </ul>

</body>
</html>
